.imageContainer {
    position: relative;
    width: 100%;
     /* Adjust the maximum width as needed */
}

.image {
    width: 50%;
    display: block;
    border-radius: 30px;
    height: 500px;
    width: 90%;
    
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    width:100%;
    margin-left: 70px;
    padding-left: 50px;
}
.text-overlay h4{
    color: wheat;
    margin-left: 35px;
}

.text{
    color: #fff; /* Adjust the text color */ /* Adjust the font size */
    text-align: center;
    width: 40%;
    margin-left: -25px;
    
}
.text2 {
    color: #fff; /* Adjust the text color */
     /* Adjust the font size */
    margin-left: 35px;
    width: 30%;
}