body {
  padding: 0;
  margin: 0;
}

/* .center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
} */

.card-container {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  gap: 20px; /* مسافة بين البطاقات */
  scroll-behavior: smooth;
  scrollbar-width: none; /* لإخفاء شريط التمرير في المتصفحات الداعمة */
}

.card-container::-webkit-scrollbar {
  display: none; /* لإخفاء شريط التمرير في كروم */
}

.article-card {
  min-width: 350px; /* عرض البطاقة */
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  flex: 0 0 auto; /* مهم للحفاظ على العرض الثابت للبطاقة */
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .title {
  margin: 0;
  font-size: 17px;
  color: #fff;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}
