@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  --brand-color: hsl(197, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 0.5em);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}


.cardContainer {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  gap: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.card {
  display: grid;
  place-items: center;
  width: 200px;
  height: 320px;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.cardBackground {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cardContent {
  --flow-space: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1rem 1.5rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.cardContentContainer {
  --flow-space: 0.75rem;
}

.cardTitle {
  position: relative;
  width: fit-content;
}

.cardTitle::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.cardButton:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .cardContent {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .cardTitle::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .cardBackground {
    transition: transform 500ms ease-in;
  }

  .cardContentContainer > :not(.cardTitle),
  .cardButton {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .cardContent,
  .card:focus-within .cardContent {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .cardContent {
    transition-duration: 0ms;
  }

  .card:hover .cardBackground,
  .card:focus-within .cardBackground {
    transform: scale(1.3);
  }

  .card:hover .cardContentContainer > :not(.cardTitle),
  .card:hover .cardButton,
  .card:focus-within .cardContentContainer > :not(.cardTitle),
  .card:focus-within .cardButton {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .cardTitle::after,
  .card:focus-within .cardTitle::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scrollButton.left {
  left: 10px;
}

.scrollButton.right {
  right: 10px;
}
