.filter-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px; /* Adjust the gap between items */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-bar input[type="text"],
  .filter-bar select,
  .filter-bar input[type="range"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    max-width: 150px; /* Adjust the width as needed */
  }
  
  .filter-bar input[type="range"] {
    width: 100px; /* Adjust the width for the range input */
  }
  
  .filter-bar input[type="text"]:focus,
  .filter-bar select:focus,
  .filter-bar input[type="range"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  .filter-bar label {
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.875rem;
  }
  