body {
    font-family: "Lexend", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393232;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.15s ease-in;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .card:hover,
  .card:focus-within {
    box-shadow: 0 0 0 2px #009fe3, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  
  .card-image {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  
  .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .like-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-header {
    margin-bottom: 1rem;
  }
  
  .card-header h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .card-header p {
    font-size: 0.875rem;
    color: #787878;
    margin: 0.5rem 0 0;
  }
  
  .card-rating {
    font-size: 0.875rem;
    color: #ffcc00;
    margin-top: 0.5rem;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .card-body li {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  
  .card-price {
    padding: 0.5rem 1rem;
    border-top: 1px solid #ddd;
    text-align: right;
    font-weight: bold;
    color: #009fe3;
  }
  
  .filter-bar {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust the gap between items */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-bar input[type="text"],
  .filter-bar select,
  .filter-bar input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .filter-bar input[type="text"]:focus,
  .filter-bar select:focus,
  .filter-bar input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  .filter-bar label {
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.9rem;
  }
  