@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14.5px;
  line-height: 1.4em;
  color: #404646;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  position: relative;
}

.containerOffers {
  display: flex;
  overflow: hidden; /* Hide default scrollbar */
  padding: 10px;
  max-width: 100%;
  scroll-behavior: smooth;
}

.card {
  margin: 0.9em;
  flex: 0 0 auto;
  width: 500px; /* Adjusted width */
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 40%; /* Adjusted width */
  height: 100%; /* Make image the same height as card */
  object-fit: cover;
}

.card-body {
  padding: 15px; /* Adjusted padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%; /* Adjusted width */
  background-color: #fff;
}

.card-text {
  margin-bottom: 10px;
}

.card-text h3 {
  margin: 0;
  font-size: 16px; /* Adjusted font size */
  color: #333;
}

.card-text p {
  margin: 5px 0; /* Adjusted margin */
  font-size: 12px; /* Adjusted font size */
  color: #666;
}

.card-text .price {
  font-size: 14px; /* Adjusted font size */
  font-weight: bold;
  color: #22aaff;
}

.card-text .location {
  font-size: 10px; /* Adjusted font size */
  color: gray;
}

.read-more {
  color: #22aaff;
  cursor: pointer;
  text-decoration: underline;
}

.book-button {
  background-color: #22aaff;
  color: #fff;
  border: none;
  padding: 10px 15px; /* Adjusted padding */
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Adjusted font size */
  align-self: flex-start;
  margin-left: 180px;
}

.book-button:hover {
  background-color: #1b89cc;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}
